@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Scripture Journal!</h1>
    <p>My Scripture Journal is a web application where you can write journal entries
       while studying the scriptures. Click on My Scripture Journal to get started.</p>
    <img class="img-wide" src="~/css/christ.jpg" alt="Jesus rising from the tomb" />
</div>
